body {
  margin: 0;
}

*:focus {
  outline: none;
}

/*header is split into two parts left and right
left part contains just logo and right part contains
important pages: Home; About; Subscribe; search and facebook/twitter(a.k.a. x)
links/hyperlinks, using sass/scss i have created a hierarchy which might be
hard to understand even for me. since i am writing this comment at the begining
i myself don't know yet. i will keep you updated*/
header {
  background-color: white;
  width: 100%;
  height: 8vh;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
}
header .left {
  width: 50%;
}
header .left div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
header .left div #logo {
  width: 7.5%;
  height: 100%;
  margin: 2.5% 1.5%;
}
header .left div h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 200%;
}
header .right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-right: 2%;
}
header .right ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .right ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
}
header .right ul input.submit {
  border: 0;
  padding: 2vh 1vw 2vh 3vw;
  height: 2.8vh;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  width: 15vw;
}
header .right img {
  width: 3vw;
  height: 3vh;
}

main section:nth-child(1) {
  margin-top: -8%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
main section:nth-child(1) img {
  width: 100vw;
  height: auto;
}
main section:nth-child(1) div {
  width: 40%;
  height: 35%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
main section:nth-child(1) div p {
  margin: 0;
}
main section:nth-child(2) {
  width: 100vw;
  height: auto;
  background-color: white;
  position: relative;
  bottom: 5vh;
}
main section:nth-child(2) #blogPage {
  padding: 5% 25%;
}
main section:nth-child(2) #blogPage div {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: auto;
}
main section:nth-child(2) #blogPage div .Blog {
  width: 45%;
  height: auto;
  border: 1px black solid;
  background-color: white;
}
main section:nth-child(2) #blogPage div .Blog:nth-child(even) {
  margin: 1vh 0vw 1vh 2vw;
}
main section:nth-child(2) #blogPage div .Blog:nth-child(odd) {
  margin: 1vh 2vw 1vh 0vw;
}
main section:nth-child(2) #blogPage div .Blog .blogImgHolder {
  border-bottom: black 1px solid;
}
main section:nth-child(2) #blogPage div .Blog .blogImgHolder img {
  width: 100%;
  height: 100%;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder {
  width: 90%;
  margin: 1em;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogUserInfo {
  width: 100%;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogUserInfo .blogUserAvatar {
  width: 15%;
  height: auto;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogUserInfo .blogUserAvatar .avatar {
  width: 100%;
  border-radius: 50%;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogUserInfo .blogData {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 2%;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogUserInfo .blogData p {
  margin: 1% 0;
  font-size: smaller;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogContent {
  margin: 0.5em 0em 0.5em 0em;
  width: auto;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogInterraction {
  height: 5%;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogInterraction aside {
  width: 100%;
  margin-bottom: -1em;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogInterraction p:nth-child(2) {
  margin-right: 1em;
}
main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogInterraction p:nth-child(3) {
  margin-left: 1em;
}

footer {
  height: auto;
  width: 50%;
  background-color: black;
  padding: 5% 25% 0 25%;
}
footer div {
  color: white;
}
footer div.SignUp {
  width: auto;
  height: auto;
}
footer div.SignUp ul {
  list-style-type: none;
  padding: 0;
}
footer div.SignUp ul li {
  margin: 2% 0;
}
footer div.SignUp input.SignUp {
  border: 1px solid;
  padding: 0vh 4vw 0vh 1vw;
  height: 2.8vh;
  width: 10vw;
  color: white;
  background-color: black;
}
footer div.SignUp #fName {
  border: 1px solid;
  padding: 0vh 4vw 0vh 1vw;
  height: 2.8vh;
  width: 10vw;
  color: white;
  background-color: black;
}
footer div.SignUp #pNumber {
  border: 1px solid;
  padding: 0vh 4vw 0vh 1vw;
  height: 2.8vh;
  width: 10vw;
  color: white;
  background-color: black;
}
footer div.SignUp input.Join {
  border: 1px solid;
  width: 5vw;
  height: 2.8vh;
  color: white;
  background-color: black;
}
footer input.SignUp:hover {
  background-color: gray;
}
footer input.Join:hover {
  background-color: goldenrod;
  border-color: goldenrod;
}
footer #Credentials {
  display: flex;
  justify-content: space-between;
  margin: 15% auto 0 auto;
}
footer #Credentials #linksToFbAndTwt {
  width: auto;
  height: 4vh;
  display: flex;
}
footer img {
  width: 3vw;
  height: 4vh;
}

#headerlink a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#headerlink a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#headerlink a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

#footerlink a:hover {
  background-color: #ddd;
  color: black;
}

#mainElmLink a:link {
  color: black;
  text-decoration: none;
}

#mainElmLink a:visited {
  color: gray;
}

#mainElmLink a:hover {
  color: goldenrod;
}

@media (max-width: 1280px) {
  main section:nth-child(2) #blogPage {
    padding: 5%;
  }
  .Blog .blogTxtHolder .blogUserInfo .blogData {
    width: 85%;
    display: flex;
    flex-direction: column;
  }
  .Blog .blogTxtHolder .blogUserInfo .blogData p {
    margin: 0;
    font-size: smaller;
  }
  footer {
    height: auto;
    width: 90%;
    padding: 5% 5% 0 5%;
  }
  footer .SignUp {
    width: auto;
    height: 6vh;
  }
  footer #linksToFbAndTwt {
    width: auto;
    height: 4vh;
    display: flex;
  }
}
@media (max-width: 915px) {
  header {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  header .left {
    width: 100%;
  }
  header .left div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  header .right {
    width: 95%;
    margin: 3% 2.5%;
  }
  header .right ul {
    padding: 0;
  }
  header .right ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  header .right ul input.submit {
    border: 0;
    padding: 0 25%;
    height: 2.8vh;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    width: 50%;
  }
  header .right img {
    width: 4vw;
    height: 2.8vh;
  }
  main section:nth-child(1) div {
    width: 75%;
    height: 40%;
  }
  main section:nth-child(1) div h1 {
    margin: 0;
  }
  main section:nth-child(1) div p {
    margin: 0;
  }
  main section:nth-child(2) #blogPage {
    padding: 5% 0;
  }
  main section:nth-child(2) #blogPage p {
    margin: 5vh 0vw;
  }
  main section:nth-child(2) #blogPage div {
    display: contents;
  }
  main section:nth-child(2) #blogPage div .Blog .blogTxtHolder {
    width: 90%;
    margin: 1em;
  }
  main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogUserInfo {
    width: 100%;
    display: flex;
  }
  main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogUserInfo .blogUserAvatar {
    width: 3em;
    display: flex;
  }
  main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogUserInfo .blogUserAvatar .avatar {
    width: 100%;
    border-radius: 50%;
  }
  main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogUserInfo .blogData {
    width: 70%;
    margin: 0;
  }
  main section:nth-child(2) #blogPage div .Blog .blogTxtHolder .blogInterraction {
    height: 5%;
    display: flex;
  }
  main section:nth-child(2) #blogPage div .Blog .blogTxtHolder p {
    margin: 1vh 0;
    color: gray;
  }
  footer {
    width: 90%;
    padding: 5%;
  }
  footer div {
    color: white;
  }
  footer div.SignUp input.SignUp {
    border: 1px solid;
    padding: 0vh 4vw 0vh 1vw;
    height: 2.8vh;
    width: 40%;
    color: white;
    background-color: black;
  }
  footer div.SignUp #fName {
    border: 1px solid;
    padding: 0vh 4vw 0vh 1vw;
    height: 2.8vh;
    width: 40%;
    color: white;
    background-color: black;
  }
  footer div.SignUp #pNumber {
    border: 1px solid;
    padding: 0vh 4vw 0vh 1vw;
    height: 2.8vh;
    width: 40%;
    color: white;
    background-color: black;
  }
  footer div.SignUp input.Join {
    width: 25%;
  }
  footer #Credentials {
    display: block;
  }
  footer #Credentials #linksToFbAndTwt {
    width: auto;
    height: 4vh;
    display: flex;
    justify-content: center;
  }
  footer img {
    width: 8vw;
    height: 4vh;
  }
}/*# sourceMappingURL=style01.css.map */